body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(195,34,164);
background: linear-gradient(0deg, rgba(195,34,164,0.7559173327534139) 0%, rgba(10,96,145,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  width: 800px;
  margin:10px;
  }

.product-listing{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: row;

}


.product-listing .product-list-item{
padding: 10px 30px;
width: 200px;
}